.form  {
    width: 140%;
}

.todo_input {
    border: none;
    width: 60%;
    height: 90%;
}

.todo_button {
    border: 2px solid ;
}

.all_packages {
    border: 3px solid black;
    width: 70%;
}